<br>
<div class="container">
  <h1>{{mode}} Product</h1>
  <form [formGroup]="productForm" (ngSubmit)="addProduct(productForm)">
    <div class="form-group">
      <label for="productName">Product Name</label>
      <input type="text" formControlName="productname" class="form-control" id="productName" placeholder="product name">
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="text" formControlName="price" class="form-control" id="price" placeholder="price">
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="button" (click)="product_image.click()">Image Upload</button>
      <input type="file" class="form-control-file" (change)="onImagePicked($event)" #product_image>
    </div>
    <div class="form-group image_preview" *ngIf="image_preview != '' && image_preview && productForm.get('productimage').valid">
      <img [src]="image_preview" alt="">
    </div>
    <button type="submit" class="btn btn-primary">{{buttontext}}</button>
  </form>
  <hr>
  <hr>
  <br>
  <br>
  <h1>Product List</h1>
  <div class="row">
    <div class="col-sm-3" *ngFor="let product of getproductData?.products" style="margin-bottom: 15px">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.price}}</p>
          <button class="btn btn-primary" [routerLink]="['/product/edit',product._id ]"
            routerLinkActive="router-link-active">Edit</button>
          <button class="btn btn-danger" (click)="delete(product._id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br>

<app-loader></app-loader>